<div class="signup center">
	<br>
	<%= render "layouts/errors", :object => @user %>
	<%= form_tag sessions_path do %>
		<form role="form">
		<div class="form-group"> 
			<%= text_field :email, nil, placeholder: 'Email'%> 
			<%= password_field :password, nil, placeholder: 'Password'  %> 
		</div >
		<%= submit_tag("Login", :class => "button btn", :id => "login") %>
	</form>
	<% end %>
</div>
