<%= render "/layouts/errors", :object => @user %>
<br>
<form>
<%= form_for(@user) do |f| %>
	<%= f.text_field :email, placeholder: 'Email' %> 
	<%= f.password_field :password, placeholder: 'Password'  %> 
	<%= f.password_field :password_confirmation, placeholder: 'Confirm'   %> 
	
   	<%= f.submit(:class => "button") %> 
<% end %>
</form>
