<%= form_for(@user) do |f| %>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation %>
		<%= f.label :password_confirmation %>
	</div >
<% end %>